* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: #083b4c;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.square {
  color: black;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: #f0466f;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.fizz {
  background-color: #1389b2;
}

.buzz {
  background-color: #0bd6a1;
}

.fizzbuzz {
  background-color: #ffd166;
}

.nofizz {
  background-color: #f0466f;
}
